@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
main{
    flex: 1;
    box-sizing: border-box;
}
#sectionSlider{
    margin: unset;
    padding: unset;
    height: 90dvh;
    width: 100%;
    box-sizing: border-box;
}
.slider{
    width: 100%;
    height: 100%;
    position: relative;
}
.imgSlide{
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.imgSlide.active{
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #112c50;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}
header li{
    display:flex;
    flex-direction: row;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #f1dd18;
}
#logo{
    width: 20rem;
    height: auto;
    cursor: pointer;
}

footer{
    background-color: #112c50;
    padding: 2rem;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
h1{
    font-family: "Montserrat", sans-serif;
    margin: 1rem 0 1rem 0;
}
h3{
    margin-top: 1rem;
}

#formConnexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
}
#formConnexion table{
    border: none;
}
#formConnexion td{
    padding: 0.1rem;
    border: none;
}
#lienMdpOublie{
    margin: 0.2rem 0 0 0;
}
#lienMdpOublie:hover{
    text-decoration: underline;
}
#creerNouveauCompte{
     margin: 2rem 0 0 0;
     padding: 1rem;
     background-color: #42b72a;
     color:black;
     border-radius: 20px;
     transition: 0.2s ease;
}
#creerNouveauCompte:hover{
    transform: translateY(10%);
    color: white;
}
.btnForm{
    all: unset;
}
.btnForm span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
.btnForm span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}
table{
    border: solid 1px black;
    border-collapse: collapse;
}
td{
    padding: 0.3rem;
    border: solid 1px black;
    border-collapse: collapse;
}
th{
    padding: 0.3rem;
    border: solid 1px black;
    border-collapse: collapse;
}

.listes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
    gap: 0.5rem;
    align-items: center;
}
.insert{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
    gap: 0.5rem;
}
.insert td{
    border: none;
}
.insert table{
    border: none;
}

form button{
    background-color: black;
    color: white;
    border: none;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 20px;
    cursor: pointer;
}

#Connexion{
    margin-top: 0.5rem;
}









/*Style vue comptes clients, propriétaires*/
.vue_compte{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.infos_perso{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.infos_perso th{
    text-align: start;
    padding-left: 1rem;
    border: none;
}
.infos_perso td{
    padding-right: 1rem;
    border: none;
}
.infos_perso table{
    border: none;
    background-color: #f2f2f2;
    border-radius: 20px;
}
#top{
    padding-top: 1rem;
}
#bottom{
    padding-bottom: 1rem;
}

.infos_activites{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#btAnnulerReservation{
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.2rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: red;
    color: white;
    transition: 0.1s ease;
   
}
#btAnnulerReservation:hover{
    transform: scale(110%);
}

#btReservationValidee{
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.2rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: #42b72a;
    color: white;
}
#btReservationValidee{
    cursor:default;
}

#btAjouterHabitation{
    all: unset;
}
#btAjouterHabitation span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#btAjouterHabitation span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}





/*Style vues select,insert, gestion*/
.vueSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0 ;
}
.vueInsert{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}





/*Style annonces habitations*/
#sectionAnnonces{
    align-items: unset;
    padding: unset;
    font-family: "Roboto", sans-serif;
    min-height: 100dvh;
}
.imgHabitation {
    width: 100%;
    height: 200px; /* ou ce que tu veux */
    object-fit: cover;
    border-radius: 20px; /* optionnel */
}
#conteneurRechercheAnnonces{
    background-color: #f2f2f2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formRecherheAnnonces{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    padding: 1.5rem;
}
.r{
    display: flex;
    flex-direction: column;
}
.btnRechercheAnnonces{
    all: unset;
}
.btnRechercheAnnonces span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
.btnRechercheAnnonces span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}


.conteneurCardAnnonceHabitation{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cardAnnonceHabitation{
    padding: 1rem;
    width: 225px;
}
.cardAnnonceHabitation:hover{
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 20px;
}
#btReserver span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: #112c50;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
 #btReserver span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}




/*Vue resa*/
.galleryReservation {
  display: grid;
  grid-template-columns: 600px 300px ; /* grande colonne + petite colonne */
  grid-auto-rows: 200px; /* hauteur de base des lignes */
  gap: 12px;
  margin-top: 1rem;
}
.galleryReservation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
/* Grande image */
.galleryReservation .big {
  grid-row: span 2; /* occupe 2 lignes */
}
.typeVilleDescHabitation{
    width: 900px;
    margin-bottom: 1rem;
}
#formResa{
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #f2f2f2;
}
.formResaInputs{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.f{
    display: flex;
    flex-direction: column;
}
.capacitePrixHab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#reserver{
    all: unset;
}
#reserver span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#reserver span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}

#msg-login-resa{
    color: red;
    margin-bottom: 1rem;
}



/*Confirmation resa*/
.conteneurPrincipalConfirmationResa{
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
    width: 25%;
    margin-bottom: 2rem;
}
.dataConfirmationResa{
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid black;
}
.dataAnnulationResa{
    padding: 1rem 0 1rem 0;
}
#formBtConfirmationResa{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

#btConfirmationResa{
    all: unset;
}
#btConfirmationResa span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#btConfirmationResa span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}
.conteneurImgConfirmationResa{
    flex: 1;
    width: 150px;
}
.conteneurTitreDataHabitation{
    flex: 1;
}
.imgConfirmationResa{
    width: 100%;
    height: 150px; /* ou ce que tu veux */
    object-fit: cover;
    border-radius: 20px; /* optionnel */
}
.cardTeteConfirmationResa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
#titreConfirmationResa{
    margin: 0 0 2rem 0;
}




/*resa confirmee*/
.conteneurMsgResaConfirmee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.sectionMsgResaValidee{
    height: 100%;
}

.prenomMsgResaConfirmee{
    color:#f1dd18;
    font-weight: bold;
}

#retourAccueil{
    text-decoration: underline;
}



/*creation annonce*/
#ajouter{
    all: unset;
}
#ajouter span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#ajouter span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}


#formAjouterHabitationProprietaire{
    margin-top: 1rem;
}
#ajouterHabitationProprietaire:hover{
    background-color: #f1dd18;
    color: black;
}

#ajouterHabitationProprietaire{
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}




/*vue creation compte*/
#cree{
    all: unset;
}
#cree span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#cree span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}


/*vue mdp oublie*/
#verifier{
    all: unset;
}
#verifier span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#verifier span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}
#msgNvMdpValide{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
}
